{% extends 'base.html' %}

{% block title %}قائمة الوحدات{% endblock %}

{% block content %}
<h1>إدارة الوحدات</h1>
<div class="text-right mb-3">
  <a href="{% url 'unit-create' %}" class="btn btn-primary">إضافة وحدة جديدة</a>
</div>
    <table class="teble table-borderd">
      <thead>
        <tr>
          <th>#</th>
          <th>اسم الوحدة</th>
          <th>نوع الوحدة</th>
          <th>الحالة</th>
          <th>الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in units %}
        <tr>
          <td
          <td>{{ unit.id }}</td>
          <td>{{ unit.unit_number }}</td>
          <td>{{ unit.get_unit_type_display }}</td>
          <td>{{ unit.get_status_display }}</td>
          <td>
            <a href="{% url 'rentals:unit_update' unit.id %}" class="btn btn-primary btn-sm">تعديل</a>
            <a href="{% url 'rentals:unit_delete' unit.id %}" class="btn btn-danger btn-sm">حذف</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center">لا يوجد وحدات</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}