<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}تعديل{% else %}إضافة{% endif %}وحدة</title>
  </head>
  <body>
    <h1>{% if object %}تعديل{% else %}إضافة{% endif %} وحدة</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% if object %}تعديل{% else %}إضافة{% endif %} وحدة</button>
    </form>
    <a href="{% url 'units:unit-list' %}">عودة إلى القائمة</a>
  </body>
</html>