<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إدارة المستخدمين</title>
  </head>
  <body>
    <h1>إدارة المستخدمين</h1>
    <a href="{% url 'tenant-create' %}">إضافة مستخدم جديد</a>
    <table border="1">
      <thead>
        <tr>
          <th>#</th>
          <th>إسم المستأجر</th>
          <th>نوع المستأجر</th>
          <th>الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for tenant in tenants %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ tenant.user.username }}</td>
          <td>{{ tenant.get_tenant_type_display }}</td>
          <td>
            <a href="{% url 'tenant-detail' tenant.id %}">عرض</a>
            <a href="{% url 'tenant-update' tenant.id %}">تعديل</a>
            <a href="{% url 'tenant-delete' tenant.id %}">حذف</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>